<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995961103377-gk5lpgbc0bnjsgqam9dets019qgdnmvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995961103377-gk5lpgbc0bnjsgqam9dets019qgdnmvs</string>
	<key>API_KEY</key>
	<string>AIzaSyBOIQVIi4Nrot5-_NuCjGrfjjyWIS28eDA</string>
	<key>GCM_SENDER_ID</key>
	<string>995961103377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xc.cms</string>
	<key>PROJECT_ID</key>
	<string>cake-shop-manager-8406a</string>
	<key>STORAGE_BUCKET</key>
	<string>cake-shop-manager-8406a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995961103377:ios:a9fa307837ee7ba6</string>
	<key>DATABASE_URL</key>
	<string>https://cake-shop-manager-8406a.firebaseio.com</string>
</dict>
</plist>